* {
	box-sizing: border-box;
}
body {
	max-width: 60em;
	margin: 0 auto;
	border: 1px solid red;
	padding: 0 1em;
}
.blokk li{
	border: 3px dashed green;
	padding:1em;
	margin:1em;
}
.in_line li{
	display: inline;
	border: 3px dashed blue;
	padding:1em;
	margin:1em;
}
.in_line_block li{
	display: inline-block;
	border: 3px dashed red;
	padding:1em;
	margin:1em;
}
.displayNone {
	display: none;
}
.raudur {
	color: red;
}
